@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    
    background: #090E16;

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 13px;
        margin: 1rem 1rem 0 1rem;
        
        height: 7vh;

        border: 1px solid #000000;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        
        font-family: 'Releway';
        font-weight: 700;
        & .logo {
            display: flex;
            
        }
        & .logo img {
            padding-left: 1rem;
            width: 13%;
        }

        & nav {
            display: flex;
            gap: 1rem;

            margin-right: 2rem;
        }

        & a {
            color: #828282;
            text-decoration: none;
        }
    }
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fr ;

    & .Hello {
        display: grid;
        justify-content: center;
        align-items: center;
        

        font-family: 'Releway';
        font-weight: bold;
        font-size: 2rem;
        
        color: #FFFFFF;

    } & .Hello .sd {
        border: 1px solid #000000;
        color: #7B4AE2;
        font-weight: bold;
        text-align: center;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background: #190f2f;
        border-radius: 13px;
        width: 70%;
        height:fit-content;
    }

    & .Hello p {
        font-size: 20px;
        font-weight: 700;
    }

    & .Avatar {
        

    }& .Avatar img {
        width: 100%;
        height: 100%;
    }

    & .contat {
        justify-self: flex-end;
        background-color: crimson;
    }
}
